@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

*{
font-family: 'Roboto', sans-serif;
}

h1  {
    text-align: center;
}

button.isClicked    {
    color: white;
    background-color: blue;
}

#us-citizen-0:hover, #us-citizen-0:active, #us-citizen-1:hover, #us-citizen-1:active   {
    color: white;
    background-color: blue;
    opacity: 0.8;
}

.title-text {
    padding: 25px 3px;
    background-color: blue;
    font-size: 48px;
    color: white;
    font-weight: 400;
    letter-spacing: 1px;
}

.subHead    {
    font-weight: 300;
}

select.form-control  {
    box-shadow: inset 0 0px 0px rgba(0,0,0,.0) !important;
    border-radius: 0px !important;
}